/* колір основного тексту #757575 */

/* колір вторинного тексту #212121 */

/* колір акцент #2196F3 */

/* білий колір #FFFFFF */

/* вторинний білий колір  #F5F4FA */

/* вторинний бекграунд колір #2F303A */

:root {
  /* TEXT */
  --main-text-color: #757575;
  --secondly-text-color: #212121;
  /* Fonts */
  --main-font: Roboto, sans-serif;
  --secondary-font: "Raleway";
  /* Colors */
  --accent-color: #2196f3;
  --secondary-white-color: #f5f4fa;
  --main-withe-color: #ffffff;
  --second-bg-color: #2f303a;
  /* Others */
  --indent: 30px;
  --items: 3;
}
body {
  color: var(--main-text-color);
  background-color: var(--main-withe-color);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-title {
  color: var(--secondly-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

/* -----------Базові стилі-----------*/

.link {
  text-decoration: none;
  display: block;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-items {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: red 2px solid;
}

.social-icon {
  fill: currentColor;
}

/* section */

.section {
  padding: 94px 0;
}

/* Container */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid red;
  outline-offset: -2px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

/* --------CSS для головної сторінки (index.html)-------- */

/* Header */

.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header-nav {
  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-container .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  color: #000000;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  margin-right: 93px;
}

.logo:focus {
  color: var(--accent-color);
}
.logo-accent {
  color: var(--accent-color);
}

.header-list .link {
  color: var(--secondly-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-list .link.current {
  color: var(--accent-color);
}

.header-list .header-contact {
  color: var(--main-text-color);
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}

.header-contact {
  display: inline-flex;
  align-items: center;
  fill: currentColor;
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

/* hero */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);

  background-color: #c4c4c4;

  text-align: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  width: 696px;
  color: var(--main-withe-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0 auto;
  margin-bottom: 30px;
}

.button.primary {
  color: var(--main-withe-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}

.button.primary:hover,
.button.primary:focus {
  background-color: #188ce8;
}

/* Advantages */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  --items: 4;
}

.advantages-title {
  color: var(--secondly-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
}

.advantages-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;

  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

/* Ourwork */

.ourwork {
  padding-top: 0;
}

.ourwork-list {
  display: flex;
  gap: var(--indent);
}

/* Ourteam */
.ourteam {
  background-color: var(--secondary-white-color);
}

.ourteam-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;

  background-color: #ffffff;
}

.ourteam-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ourteam-list {
  --items: 4;
}

.ourteam-title {
  color: var(--secondly-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  margin-bottom: 10px;
}

.ourteam-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  margin-bottom: 16px;
}

.socials-link {
  color: #afb1b8;
}

.socials-link:hover,
.socials-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* Clients */

.clients-list {
  --items: 6;
}

.clients-link {
  color: #afb1b8;

  align-items: center;
  justify-content: center;
  display: flex;
  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

/* Footer */

.footer {
  background-color: var(--second-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer .logo {
  color: var(--main-withe-color);
  margin-bottom: 20px;
  display: block;
  margin-right: 0;
}

.footer .link {
  color: rgba(255, 255, 255, 60%);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.footer-address {
  font-style: normal;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-address-street {
  color: var(--main-withe-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-social-title {
  color: var(--secondary-white-color);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;

  margin-bottom: 20px;
}

.footer-social-box .socials-link {
  color: var(--main-withe-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-box .socials-link:hover,
.footer-social-box .socials-link:focus {
  background-color: var(--accent-color);
  color: var(--main-withe-color);
}

/* --------CSS для портфоліо(portfolio.html)-------- */

/* кнопки фільтру "наші роботи" */

.button.secondary {
  color: var(--secondly-text-color);
  background-color: var(--secondary-white-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;

  padding: 6px 22px;

  min-height: 38px;
  border-radius: 4px;
  border: transparent;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--main-withe-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*  наши работы */

.examples-nav {
  display: flex;
  grid-gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.examples-title {
  color: var(--secondly-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.examples-text {
  color: var(--main-text-color);

  font-size: 16px;
  line-height: 1.87;
}

.examples-link {
  display: block;
  text-decoration: none;
}

.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.team-wrapper {
  border: solid #eeeeee 1px;
  border-top: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
